{% extends '::base.html.twig' %}

{% block body %}
<div>
    <div>
        <header>
            <nav class="navbar navbar-default" style="margin-bottom: 0px">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Apologize</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {#accueil/presentation/qui somme nous/equipe/#}
                            <li {% if pageName == "index" %} class="active" {% endif %}>
                                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> {{ 'index.nav.home'|trans }}</a>
                            </li>

                            {#nos jeux/serveur/#}
                            <li {% if pageName == "game" %} class="active" {% endif %}>
                                <a href="#"><i class="fa fa-gamepad" aria-hidden="true"></i> {{ 'index.nav.game'|trans }}</a>
                            </li>

                            {#forum#}
                            <li {% if pageName == "forum" %} class="active" {% endif %}>
                                <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> {{ 'index.nav.forum'|trans }}</a>
                            </li>

                            {#contact#}
                            <li {% if pageName == "contact" %} class="active" {% endif %}>
                                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> {{ 'index.nav.contact'|trans }}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
                            <li>
                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'index.nav.signup'|trans }}</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'index.nav.login'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div>
            {% block mainbody %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
